@model IEnumerable<Planner.Models.Docket>
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
        <input type="button" value="View & Manage Your Budgets" onclick="location.href='@Url.Action("Index", "Budgets")'" />
         <input type="button" value="And an Item to your Docket" onclick="location.href='@Url.Action("Add", "Docket")'" />
        <input type="button" value="View and Manage your Travel Plans" onclick="location.href='@Url.Action("Index", "Travel")'" />
        <input type="button" value="See your Past Experiences" onclick="location.href='@Url.Action("Index", "MyExperiences")'" />



    foreach (var d in Model)
    {
        <h1>
            @Html.ActionLink(d.Title, "Details", "Docket", new { id = d.Id }, new { @class = "btn btn-default" })
        </h1>
    }
}
   
   else {

<div class="jumbotron">
    <h1>Tripp</h1>
    <p class="lead">Welcome to Tripp. Where everone has a good trip.</p>
    <p><a href="http://localhost:15036/Account/Register" class="btn btn-primary btn-lg">Create Account &raquo;</a></p>
</div>
}